/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #9dbbc5;
  font-family: "Cinzel", serif;
  padding: 0 30px 0 30px;
  z-index: 1;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* logo */

.logo {
  padding: 7px;
}

.logo > img {
  width: 60px;
}

/* nav__small */

#nav__small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  background-color: #9993c2;
  padding-left: 50px;
  height: 0px;
  z-index: 9 !important;
  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

/* nav__large & menu__button*/

#nav__large {
  display: none;
}

#menu__button {
  width: 63px;
}

@media screen and (min-width: 600px) {
  #nav__small {
    display: none;
  }

  #menu__button {
    display: none;
  }

  #nav__large {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
  }

  header {
    height: 115px;
  }

  header a {
    font-size: 20px;
  }

  .logo > img {
    width: 65px;
  }
}

@media screen and (min-width: 900px) {
  #nav__large {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  header {
    height: 130px;
  }

  header a {
    font-size: 23px;
  }

  .logo > img {
    width: 75px;
  }
}
