/* intro */

.intro {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 30px 0 30px;
}

.intro__img {
  height: 375px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.slider {
  display: flex;
  background-color: #9993c2;
  height: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  font-size: 10px;
}

@media screen and (min-width: 600px) {
  .intro {
    margin: 0 40px 0 40px;
    gap: 70px;
  }
  .intro__img {
    height: 475px;
  }

  .slider {
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (min-width: 900px) {
  .intro {
    flex-direction: row;
    gap: 0px;
  }
  .intro__img {
    height: 575px;
    box-shadow: none;
  }

  .slider {
    letter-spacing: 10px;
    height: 40px;
    font-size: 14px;
  }
}
